import requests


# Headers
{%- set cookie_header = headers.pop('cookie', None) %}
headers = {
{%- for header_name, header_value in headers.items() %}
    '{{ header_name.replace("'","\\'") }}': '{{ header_value.replace("'","\\'") }}',
{%- endfor %}
}

# Data
data = r'''{{ data or '' }}'''

# Cookies
cookies = {
{%- for cookie_name, cookie_value in cookies.items() %}
    '{{ cookie_name.replace("'","\\'") }}': '{{ cookie_value.replace("'","\\'") }}',
{%- endfor %}
}

# Prepare and send request
req = requests.Request(
    method='{{ method }}',
    url='{{ scheme }}://{{ host }}:{{ port }}{{ uri }}',
    headers=headers,
    data=data,
    cookies=cookies,
)
prepared_req = req.prepare()
session = requests.Session()
resp = session.send(prepared_req)
# print(resp.status_code)
# print(resp.text)
# print(resp.headers)